<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO 活動訂票網</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="logo">
        <img src="" alt="">活動訂票網
      </h1>
      <div class="search"></div>
      <ul class="menu">
        <li>REGISTER</li>
        <li>lOGIN</li>
      </ul>
    </div>
  




    <%- include('./layout/header'); -%>




    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
